services:
  fastapi: 
    build: .
    restart: always
    env_file: .env
    environment:
      NATS_HOST: nats
      NATS_PORT: 4222
      NATS_USER: nats_user
      NATS_PASSWORD: nats_password
    networks:
      - nats_net
      - default
    ports:
      - "${APP_PORT}:${APP_PORT}"
    depends_on:
      - nats

  nats:
    image: nats
    command: ["-c", "/etc/nats/nats-server.conf"]
    ports: 
      - "4222:4222"
    networks:
      - nats_net
    volumes:
       - ./config/:/etc/nats

networks:
  nats_net:
    driver: bridge
    internal: true 
  default:          # стандартная сеть (есть интернет)
    driver: bridge
